<!-- <section class="col-sm-12">
  <div class="search-results style-3">
    <input type="text" [value]="query" placeholder="type to see jsonp results from google"
      ngxTypeahead="item as item['full_name'] for item in result" class="col-sm-12 form-control"
      [taUrl]="url"
      [taParams]="params"
      (taSelected)="handleResultSelected($event)"
    >
  </div>
</section> -->

<div class="searchDiv">
  <form  #showRepo = "ngForm" (ngSubmit) = "onRepoNameSubmit(repoSearch)">
      <label style="padding-right: 2%;"  for="browser">Search Repo:</label>
      <input class="inputBox" list="browsers" name="browser" id="browser" (keypress)="onKeypressEvent($event)" [(ngModel)]="repoSearch" value="repoSearch">
      <datalist id="browsers" >
        
      </datalist>
       <input  class="btnCls" style="margin-left: 2%;" type="submit" value="Show Repo" [disabled]="!repoSearch">
  </form>

</div>

<div style="text-align:center" *ngIf="showEmpty">
  <span style="color:red;">No result found, try another search!</span>
</div>

<div  *ngIf="showData" class="main search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="mainRepoContent flex-container" *ngFor="let item of repoData">
      <div style="align-self: center; flex-grow:1">
          <a href="{{item.html_url}}">
              <img src="{{item.owner.avatar_url}}" alt="profile url" width=50 height=50>
          </a>
      </div>
      <div style="flex-grow:8;">
          <span class="subRepoContent">{{item.name}} :      </span>
          <span id="google_translate_element" class="subRepoContent">{{item.description}}</span>
          <p class="subSubContent">
            <span> Size:{{item.size}},  Froks:{{item.forks}},  Watchers:{{item.watchers}},  Updated Dates:{{item.updated_at}} </span>
          </p>
          <!-- <p *ngFor = "let license of item.license">
              <span>{{license.key}}</span>
          </p> -->
          <p></p> 
          <p class="subSubContent">
            <a href="{{item.html_url}}" target="_blank">Visit Profile</a>
          </p>
      </div>
  </div>
</div>


<div style="color:red;text-align:center" *ngIf="maxLimit">Maximum output limit reached</div>

<!-- <h3 class="alert alert-info">Using STATIC list</h3>
<section class="col-sm-12">
  <div class="search-results style-3">
    <input type="text"  placeholder="type a value from the list below"
      ngxTypeahead class="col-sm-12 form-control"
      [value]="query3"
      [taList]="staticList" 
      (taSelected)="handleStaticResultSelected($event)">
  </div>
</section>
<pre><code>{{ staticList | json }}</code></pre> -->

<!-- <script type="text/javascript">
  function googleTranslateElementInit() {
    console.log("here");
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
</script> -->